*.vsidx
*.suo
*.pdb
*.exe
*.DocumentLayout.backup.json
*.json
*.cache
*.dll
web_api/webapi_order_system/.vs/webapi_order_system/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
web_api/webapi_order_system/.vs/webapi_order_system/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
web_api/webapi_order_system/.vs/webapi_order_system/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
web_api/webapi_order_system/.vs/webapi_order_system/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
*.v2
*.targets
